<div class="row">
  <div class="col-md-6">
  (Note: This schedule is still tentative and subject to change)
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td> <td>Introductions; Introducing the Shell; General Terminal Access</td> </tr>
      <tr> <td>09:30</td> <td>Navigating Files and Directories; Working with Files & Directories</td> </tr>
      <tr> <td>09:55</td> <td>Morning break</td> </tr>
      <tr> <td>10:00</td> <td>Pipes and Filters</td> </tr>
      <tr> <td>10:30</td> <td>Shell Scripts; Finding Things</td> </tr>
      <tr> <td>10:55</td> <td>Morning break</td> </tr>
      <tr> <td>11:00</td> <td>Shell Wrap-up</td> </tr>
      <tr> <td>11:30</td> <td>Introduction to R and RStudio</td> </tr>
      <tr> <td>12:00</td> <td>Lunch break</td> </tr>
      <tr> <td>13:00</td> <td>Project Management in R</td> </tr>
      <tr> <td>13:30</td> <td>Data Structures in R</td> </tr>
      <tr> <td>13:55</td> <td>Afternoon break</td> </tr>
      <tr> <td>14:00</td> <td>Exploring Dataframes</td> </tr>
      <tr> <td>14:30</td> <td>Subsetting Data</td> </tr>
      <tr> <td>14:55</td> <td>Afternoon break</td> </tr>
      <tr> <td>15:00</td> <td>Functions and Control Flow</td> </tr>
      <tr> <td>15:30</td> <td>Writing Data</td> </tr>
      <tr> <td>16:00</td> <td>Plotting in R</td> </tr>
      <tr> <td>16:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
